#canvas {
    position: absolute;
    top: 64px; /* Account for header height */
    left: 0px;

    width: 100%;
    height: 86%;

    z-index: -999;
}
.canvas-header {
    background-color: #4A752C;
    width: 100%;
    height: 64px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    position: absolute;
    top: 0;
    left: 0;
}
.canvas-item {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: flex-start;

    font-family: 'Open-sans';
    font-size: 32px;
    color: white;
}
.canvas-item img {
    margin-right: 0.5rem;
    width: 32px;
    height: 32px;
}

#overlay {
    position: absolute;
    top: 64px; /* Account for header height */
    left: 0px;

    width: 100%;
    height: 86%;

    background-color: rgba(0, 0, 0, 0.5);
    
    z-index: 1000;
}

#final-screen {
    display: none;
    /*display: block; */
}

#board{
    display: grid;
    grid-template-rows: 1fr 1fr;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 360px;

    border-radius: 10px;
    background-color: #4DC1F9;
    font-size: 24px;
    font-weight: bolder;
    
    z-index: 1001;
}

#result {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 4fr 1fr;
    justify-items: center;
    align-items: center;
}

img.icon-lg {
    width: 72px;
}

#result-img {
    width: 360px;
    border-radius: 10px;
}

/* ************************************************** */

#replay {
    position: fixed;
    /* display: block; */
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 50px;
    /* margin: 0 auto; */
    
    line-height: 50px;
    text-align: center;
    background-color: #49752B;
    border-radius: 10px;
    font-size: 18px;
    z-index: 1002;

    color: white;
    font: 'Open-sans';
}

#replay:hover {
    cursor: pointer;
    background-color: rgb(118, 192, 69);
}